# Python
__pycache__/
*.py[cod]
.venv/
.ruff_cache/
*.egg-info/

# Node
node_modules/
dist/

# Datos locales
backend/data/
backend/.env
mlflow/
mlruns/
*.sqlite3
*.db

# Editores / SO
.vscode/
.idea/
Thumbs.db
.DS_Store
